@import "card-block.scss";

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 721px;

  @include card-block;
  @include card-date;

  > :first-child {
    margin-left: 103px;
  }

  > :last-child {
    display: none;
  }
}
